{#Strona startowa, na której musimy się zalogować, aby mieć dostęp do apliakcji.#}
{#Używany jest tutaj formularz django, który weryfikuje czy użytkownik o danym haśle występuje w bazie.#}
{% extends 'base.html' %}
{% load bootstrap %}
{% block tytul %} Log in {% endblock %}

{% block page %}
    <h5 class="card-title">Log in</h5>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary buttonMargin">Log in <i class="fas fa-sign-in-alt"></i></button>
    </form>
{% endblock %}