{#Strona która wyświetla możliwe opcje do wykonania w zależności od uprawnień użytkownia po zalogowaniu#}
{#Odpowiednio dla admina: dodaj banknot do bazy, przejście do panelu bazodanowego, sprawdzenie bankontu i wylogowanie się z systemu#}
{#Dla zwykłego usera: sprawdzenie banknotu i wylogowanie się.#}
{% extends 'base.html' %}
{% load bootstrap %}
{% block tytul %} Home {% endblock %}

{% block page %}
    <h5 class="card-title">Home</h5>
    {% if user.is_superuser %}
        <a href="{% url 'addBanknote' %}" class="btn btn-primary buttonMargin">Add a new banknote to the database <i class="fa-solid fa-plus"></i></a>
        <br>
        <a href="{% url 'admin:index' %}" class="btn btn-primary buttonMargin">Go to database panel <i class="fa-solid fa-database"></i></a>
        <br>
    {% endif %}
    <a href="{% url 'checkBanknote' %}" class="btn btn-primary buttonMargin">Check the banknote <i class="fa-regular fa-money-bill-1"></i></a>
    <br>
    <a href="{% url 'logout' %}" class="btn btn-outline-primary buttonMargin">Logout <i class="fas fa-sign-out-alt"></i></a>
{% endblock %}